@import  '../reset.css';
body {
   border-color: #FFFDF5;
}
.header {
   padding-top: 55px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.headerHamburgerBlock {
   width: max-content;
   height: max-content;
}
.hamburger {
   width: 36px;
   height: 36px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   cursor: pointer;
}

.hamburger span {
   width: 30px;
   height: 2px;
   background-color: #121212;
}

.user__block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 476px;
}

.header__search,.user {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__search {
   width: 347px;
}
.searc__input input {
   width: 308px;
   border: none;
   border-bottom: 1px outset #7D7D7D;

}
.user {
   width: 116px;
   display: flex;
   justify-content: space-around;
   align-items: center
}
.user a {
   display: block;
}
.user a img {
   width: 18px;
   height: 18px;
   object-fit: cover;
}
.welcome {
   min-height: 777px;
   padding: 50px 0 150px 0;
}
.welcome__welcome {
   width: 537px;
}
.welcome__header {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.welcome__welcome {
   min-height: 391px;
   display: flex;
   flex-direction: column;
   align-items: flex-start
  
}
.welcome__welcome__tittle {
   margin-top: 60px;
}
.welcome__welcome__tittle h2 {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 60px;
   line-height: 69,84px;
}
.welcome__welcome__tittle h2 span {
   font-family: Bad Script;
   font-weight: 400;
   font-size: 60px;
   line-height: 69,84px; 
   color: #30AAFB
}

.welcome__welcome__desc {
   width: 249px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 118%;
   color: #7D7D7D;
   margin-top: 60px;
}
.catalog__circle__wrapper {
   display: flex;
   justify-content: center;
}
.catalog__circle__wrapper a:hover {
   text-decoration: none;
}
.catalog__circle {
   width: 193px;
   height: 193px;
   border: 1px solid #514A7E;
   border-radius: 96.5px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.3s;
   cursor: pointer;
}

.circle__context p {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   color: #514A7E;
}

.arrow {
   margin: 16px 0 0 30px;

}


.why__choose__us__tittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 40px;
   line-height: 87.3%;
   display: flex;
   align-items: center;
   color: #121212;
}
.why__choose__us {
   position: relative;
 
  
}
.why__choose__us__wrapper {
   margin-top: 94px;
   display: flex;

   align-items: center;
   
}

.why__choose__us__wrapper>div{
   width: 461px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.why__choose__us__left {
   margin-right: 100px;
}
.why__choose__us__leftP:first-child {
   margin-right: 111px;
}
.why__choose__us__rightP:first-child {
   margin-right: 111px;
}
.why__choose__us__leftP, .why__choose__us__rightP {
   position: relative;
}
.why__choose__us__leftP p, .why__choose__us__rightP p {  
   width: 175px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;
   display: flex;
   color: #7D7D7D;
   margin-bottom: 98px;
}

.fir {
   width: 28px;
   height: 28px;
   background: #514A7E;
   box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.4);
   border-radius: 100%;
   position: absolute;
   top: 14px;
   right: 38px;
}
.sec {
   width: 47px;
   height: 47px;
   background: #514A7E;
   box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.4);
   border-radius: 100%;
   position: absolute;
   top: 16px;
   right: -21px;
}

.th {
   width: 47px;
   height: 47px;
   background: #514A7E;
   box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.4);
   border-radius: 100%;
   position: absolute;
   top: -22px;
   right: -37px;
}
.fv {
   width: 28px;
   height: 28px;
   background: #514A7E;
   box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.4);
   border-radius: 100%;
   position: absolute;
   top: -6px;
   right: -18px;
}

.choose__circle {
   width: 429px;
   height: 429px;
   border: 1px solid #514A7E;
   border-radius: 100%;
   

}

.or {
   width: 214.5px;
   overflow: hidden;
   position: absolute;
   top: -246px;
   right: 0;
}



.promotion {
   position: relative;
}

.promotion__tittles {
   width: 401px;
   margin-bottom: 91px;
   margin-left: 8px;
}
.promotion__main__tittle {  
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 40px;
   line-height: 87.3%;
   color: #121212;
}

.promotion__subtittle {
   font-family: Bad Script;
   font-style: italic;
   font-weight: normal;
   font-size: 40px;
   line-height: 87.3%;
   color: #514A7E;
   text-align: right;
}

.promotion__block {
   width: 278px;
   margin-right: 60px;
  
}

.promotion__block__img {
   width: 100%;
   height: 319px;
   object-fit: cover;
   border-radius:3px
}
.promotion__block__img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.promotion__block__footer {
   display: flex;
   justify-content: space-between;
   margin-top: 13px;
   
}

.promotion__price {
   width: 112px;
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}

.promotion__curren__price {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   color: #121212;
}
.promotion__old__price {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
   color: #7D7D7D;
   text-decoration: line-through
}

.promotion__bock__desc {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 14px;
   color: #7D7D7D;
   margin-top: 13px;
}
.promotion__user__touch {
   display: flex;
   justify-content: space-between;
   align-items: center
}
.promotion__user__touch img {
   display: block;
}
.promotion__button {
   width: 148px;
   height: 37px;
   border: 0.5px solid #121212;

}

.promotion__user {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.promotion__button {
   margin-top: 13px;
   width: 148px;
   height: 37px;
   border: 0.5px solid #121212;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   color: #121212;
   text-align: left;
   padding-top: 7px;
   padding-left: 25px;
}
.promotion__button img {
   margin-bottom: 3px;
}



.promotion__next {
   width: 85px;
   height: 47px;
   background: #FFFDF5;
   position: absolute;
   bottom: 105px;
   right: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   user-select: none;
   z-index: 10
}
.promotion__caurusel {
 
   overflow-x: hidden;
   width: 100%;


}
.promotion__inner {
   display: flex;
   width: max-content;
   justify-content: space-between;
   transition: 0.5s;

}
.reviews {
   padding: 150px 0;
   position: relative;
}
.add_review {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   color: #FFFDF5;
   width: 148px;
   height: 37px;
   background: #514A7E;
   border: 0.5px solid #514A7E;
   margin-top: 30px;
   cursor: pointer;
}
.reviews__tittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 40px;
   line-height: 87.3%;
   color: #121212;
}

.reviews__inner {
   display: flex;
   width: max-content;
   transition: 0.3s;
   z-index: 8;
   
}


.reviews__block__img {
   width: 94px;
   height: 94px;
  
   filter: drop-shadow(0px 4px 10px rgba(81, 74, 126, 0.4));

}
.reviews__block__img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius:100%;
}

.reviews__post {
  

   width: 263px;
 
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 170%;
   color: #7D7D7D;
}

.reviews__desc {
   
   margin-top: 20px;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 170%;
   color: #121212;
   margin-bottom: 12px;
}

.reviews__arrow {
   width: 92px;
   height: 92px;
   border: 1px solid #514A7E;
   box-sizing: border-box;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 218px;
   right: 85px;
   cursor: pointer;
   user-select: none;
   z-index: 100;
}
.reviews__block {
   padding: 0 29px 0 24px;
   width: 459px;
   height: 204px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 80px;
   z-index: -9;
}


#revBlock {
   padding: 0 29px 0 24px;
   width: 459px;
   height: 204px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 80px;
   z-index: -9;
}
.reviews__slider {
   display: flex;
   overflow: hidden;
   width: 998px;

  
}
.questions__tittles {
   width: 642px;
}
.questions__tittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 40px;
   line-height: 87.3%;
   color: #121212;
}

.questions__subtittle {
   font-family: Bad Script;
   font-style: italic;
   font-weight: normal;
   font-size: 40px;
   line-height: 87.3%;
   color: #514A7E;
   text-align: right;
   margin-top: 13px;
}

.question__blocks {
   min-width: 1170px;
   
   
}
.main__question__tittle {
   display: flex;
   justify-content: space-between;
   align-items: center
}
.main__question__tittle p, .question__block ul li, .question__block>div{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 33px;
   display: flex;
   align-items: center;
   color: #121212;
}
.question__block>div {
   margin: 10px 0 10px 5px;
   
}
.question__block ul li {
   margin: 35px;
   position: relative;
}
.question__block ul li::before {
   content: "";
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: black;
   position: absolute;
   top: 12px;
    left: -17px
   

}
.question__block p span {
   font-weight: 700;
}
.plusTrigger  {
   display: block;
   cursor: pointer;
   width: 14.44px;
   height: 14.44px;
   object-fit: cover;
}
.minTrigger {
   width: 14.44px;
   height: 14.44px;
   object-fit: cover;
   cursor: pointer;
}
.question__block {
   border: 0.5px solid #7D7D7D;
   margin: 18px 0 19px 0;
   max-height: 0px;
   overflow: hidden;
   background-color: rgba(0,0,0, 0.2);
   
  transition: .9s
}


.active {
  
   max-height:max-content;
   
}

.rorClass {
   width: 20px;
   height: 20px;
   background-color: black;
   border-radius: 100%
}

.minTrigger {
   display: none;
}
.cooperation {
   margin: 150px 0;
}
.cooperation__tittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 40px;
   line-height: 87.3%;
   color: #121212;
   margin-bottom: 73px;
}

.cooperation__subtittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 118%;
   color: #7D7D7D;
   margin-bottom: 60px;
}

.cooperation__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center
}
.cooperation__block {
   width: 180px;
}
.cooperation__block__tittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 118%;
   color: #121212;
   margin-bottom: 22px;
   text-align: center;
}

.cooperation__block__subtittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 118%;
   color: #7D7D7D;
   text-align: center;
  
}

.cooperation__blockS {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 87.3%;
   color: #121212;
   margin-top: 60px;
   margin-bottom: 111px;
}

.cooperation__block__Img {
   margin: 0 auto;
   width: 20px;
}

.cooperation__block__desc {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 118%;
   color: #7D7D7D;
   text-align:center;
   margin-top: 21px;
}
.sendForm {
   position: relative;
   padding: 150px 0 150px 0;
}
.formDiv {
   width: 971px;
   height: 411.24px;
   background: #514A7E;
   box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.05);
   padding-top: 39px;
}

.formDiv_Bg {
   width: 714px;
   height: 332.58px;
   background: #FFFDF5;
   box-shadow: 0px 4px 20px rgba(51, 51, 51, 0.05);
   margin:  auto;
   padding: 34px 0 0 51px;
}

.formDiv_Bg__tittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 118%;
   color: #121212;
   margin-bottom: 15px;
}

.formDiv_Bg__tittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 118%;
   color: #121212;
}
.formDiv_Bg form {
   width: 100%;
}
.formDiv_Bg form>input {
   width: 228px;
   border: none;
   border-bottom: 0.5px solid #7D7D7D;
   font-family: Roboto;
   font-style: normal;
   font-weight: 100;
   font-size: 12px;
   line-height: 118%;
   color: #7D7D7D;
   display: block;
   margin-top: 24px;
}

.formDiv_Bg form>button {
   width: 148px;
   height: 36.84px;
   background: #514A7E;
   border: 0.5px solid #514A7E;
   box-sizing: border-box;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   display: flex;
   align-items: center;
   color: #FFFDF5;
   position: relative;
   padding-left: 25px;
   margin-top: 39px;
}
.formDiv_Bg form>button>img {
   position: absolute;
   right: 17px;
 
}
.formDiv_Bg form div input {
   display: block;
   margin-right: 4px;
}
.formDiv_Bg form>div {
   width: 714px;
   display: flex;
   margin-top: 5px;

 
}
.formDiv_Bg form>div p {
   font-family: Roboto;
   font-style: normal;
   font-weight: 100;
   font-size: 8px;
   line-height: 118%;
   display: flex;
   align-items: center;
   text-align: center;
   
   color: #7D7D7D;
}


.formCircleColored {
   width: 100px;
   overflow: hidden;
   position: absolute;
   bottom: 240px;
   right: 0;
}

.formCircleColored div {
   width: 200px;
   height: 200px;
   background:#514A7E;
   border-radius: 100%
}

.formCircle {
   width: 190px;
   overflow: hidden;
   position: absolute;
   bottom: -32px;
   right: 0;
   z-index: -1;
}

.formCircle div {
   width: 380px;
   height: 380px;
   border: 2px solid rgba(0,0,0, 0.2);
   border-radius: 100%;

}

.footer { 
   min-height: 373.4px;
   background: #514A7E;
}

.footer__wrapper {
   display: grid;
   grid-template-columns: 124px 124px  250px 205px 84px;
   padding-top: 81px;
   grid-gap: 90px;
}

.footer__tittle {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   color: #FFFDF5;
   margin-bottom: 19px;

}
.footer__wrapper div {
   margin-bottom: 25px;
}
.footer__wrapper div ul li {
   margin-bottom: 10px;
}
.footer__wrapper div ul li a {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 14px;
   color: #FFFDF5;

}

.footer__contact__info {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
   color: #FFFDF5;
}
.contact__wrapper div img {
   margin-right: 15px;
}
.contact__wrapper div a {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
   color: #FFFDF5;

}


.hamburger__menu {
   width: 193px;
   background: #121212;
   position: absolute;
   top: 0;
   left: -100%;
   height: 100%;
   transition: 0.2s;
   padding-left: 18px;
   padding-right: 69px;
   transition: width all .5s;
  
}
.hamburger__menu__active {
   left: 0;
}
#active__li {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   color: #FFFDF5;
   transition: all 0.2s;
  
}
.hamburger__menu ul li {
   margin-top: 20px;
   
   
}
.hamburger__menu ul li a{
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;
   color: #FFFDF5;
   text-transform: capitalize
}
.hamburger__menu ul li a:hover{
   text-decoration: none;
}
.exit {
   font-size: 40px;
   color: red;
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
}

.cat {
   position: absolute;
   display: none;
   background: #121212;
   width: 193px;
   transition : 0.5s;
   
}
.cat>li>a {
   text-transform: capitalize
}


.cat>li>a:hover {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   color: #FFFDF5;
   transition: all 0.2s;
}
.cat__active {
   transform: translateX(183px);
   top: 127px;
   display: block;
   transition: 0.5s;
}
.my__review {
   
   height: 0;
   overflow: hidden;
   transition: 0.5s;
   position: relative;
}
.my__review_active  {
   width: 502px;
   height: 484px;
   padding: 115px 0 44px 65px;
}
.my__review__tittle{ 
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 40px;
   line-height: 87.3%;
   color: #121212;
   margin-bottom: 60px;
}
.my__review form input {
   width: 372px;
   padding-left: 6px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 118%;
   color: #7D7D7D;
   border:none;
   border-bottom: 0.5px solid #7D7D7D;
}
.my__review form button {
   width: 148px;
   height: 37px;
   background: #514A7E;
   border: 0.5px solid #514A7E;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   color: #FFFDF5;
   cursor: pointer;
   margin-top: 60px;
}
.my__review form button img {
   margin-left: 10px;
}
.myReview {
   box-shadow: 0px 4px 10px rgba(81, 74, 126, 0.2);
   margin-top: 16px;
   width: 372px;
   height: 76px;
  
}
.raiting_body {
   position: relative;
   height: 18.45px;
   width: 127px;
   height: 18.27px;
   margin-top: 17px;
}

.raiting_item {
   position: relative;
   color: #514A7E;
}

.raitings {

   display: flex;
   flex-direction: row-reverse;
}
.raitings input {
   visibility: hidden
}


.raiting_item::before {
   content: '★';
   display: flex;
   transition: 0.3s;
   width: 100%;
   font-size: 19px;
   position: absolute;
   top: -8px;
    left: -5px;
}



.raitings input:checked,
.raitings input:checked ~ .raiting_item {
   color: rgba(219, 147, 13, 0.787)
}
.raiting_item:hover, 
.raiting_item:hover ~ .raiting_item,
.raiting_item:checked ~ .raiting_item:hover {
   color: rgb(243, 171, 37)
}
.my__review__exit {
   
   width: 47px;
   height: 47px;
   background: #514A7E;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   border-radius: 100%;
   display: none;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: absolute;
   top: 63px;
   right: 65px; 
}
.my__review__exi__active {
   display: flex;
}

.thanks_block {
   
   width: 370px;
   border: 2px solid rgba(0,0,0, 0.2);
   display: none;
   justify-content: space-around;
   align-items: center;
   position: absolute;
   top: 360px;
   left: 65px;
}

.thanks_block img {
   width: 50px;
   height: 50px;
}

.status {
   width: max-content;
   color: red;
   font-size: 25px;
}